In [1]:
# import module
import pandas as pd

In [2]:
air_quality_no2 = pd.read_csv('air_quality_no2_long.csv', parse_dates=True)

In [4]:
air_quality_no2 = air_quality_no2[['date.utc', 'location', 'parameter', 'value']]

In [5]:
air_quality_no2.head()

                    date.utc location parameter  value
0  2019-06-21 00:00:00+00:00  FR04014       no2   20.0
1  2019-06-20 23:00:00+00:00  FR04014       no2   21.8
2  2019-06-20 22:00:00+00:00  FR04014       no2   26.5
3  2019-06-20 21:00:00+00:00  FR04014       no2   24.9
4  2019-06-20 20:00:00+00:00  FR04014       no2   21.4

In [6]:
air_quality_pm25 = pd.read_csv('air_quality_pm25_long.csv', parse_dates=True)

In [9]:
air_quality_pm25 = air_quality_pm25[['date.utc', 'location', 'parameter', 'value']]

In [10]:
air_quality_pm25.head()

                    date.utc location parameter  value
0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

In [11]:
# COmbine data from multiple tables
air_quality = pd.concat([air_quality_pm25, air_quality_no2], axis=0)

air_quality.head()

                    date.utc location parameter  value
0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

In [12]:
print('Shape of the air_quality_pm25 table: ', air_quality_pm25.shape)

Shape of the air_quality_pm25 table:  (1110, 4)

In [13]:
print('Shape of the air_quality_no2 table: ', air_quality_no2.shape)

Shape of the air_quality_no2 table:  (2068, 4)

In [14]:
print('Shape of the air_quality table: ', air_quality.shape)

Shape of the air_quality table:  (3178, 4)

In [15]:
horizontal_air_quality_merge = pd.concat([air_quality_pm25, air_quality_no2], axis = 1)

# axis = 1 runs across horizontal

In [16]:
horizontal_air_quality_merge.head()

,date.utc,location,parameter,value,date.utc,location,parameter,value
0,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,2019-06-21 00:00:00+00:00,FR04014,no2,20.0
1,2019-06-17 08:00:00+00:00,BETR801,pm25,6.5,2019-06-20 23:00:00+00:00,FR04014,no2,21.8
2,2019-06-17 07:00:00+00:00,BETR801,pm25,18.5,2019-06-20 22:00:00+00:00,FR04014,no2,26.5
3,2019-06-17 06:00:00+00:00,BETR801,pm25,16.0,2019-06-20 21:00:00+00:00,FR04014,no2,24.9
4,2019-06-17 05:00:00+00:00,BETR801,pm25,7.5,2019-06-20 20:00:00+00:00,FR04014,no2,21.4