In [1]:
# import module
import pandas as pd

In [2]:
# create data frame manually
df = pd.DataFrame({
    'Name' : ['Braund, Mr. Owen Harris',
    'Allen, Mr. William Henry',
    'Bonnell, Miss. Elizabeth'],
    'Age': [22, 35, 58],
    'Sex': ['male', 'male', 'female']
})

df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [3]:
df['Age']

0    22
1    35
2    58
Name: Age, dtype: int64

In [4]:
ages = pd.Series([22, 35, 58], name = "Age")

ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [5]:
names = pd.Series(['minhaz', 'kritika', 'nishant', 'ripika'], name = "Name")

names

0     minhaz
1    kritika
2    nishant
3     ripika
Name: Name, dtype: object

In [6]:
df['Age'].max()

58

In [8]:
ages.max()

58

In [10]:
# some basic statistics of the numerical data of my data table

df.describe()

# The describe() method provides a quick overview of the numerical data in a DataFrame. As the Name and Sex columns are textual data, these are by default not taken into account by the describe() method.

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000